[Unit]
Description=Service to upload metrics from the nextys to postgresql

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/nextys_monitoring/src
ExecStart=/home/debian/nextys_monitoring/venv/bin/python3 /home/debian/nextys_monitoring/src/run.py

[Install]
WantedBy=multi-user.target
